pandas
geopandas
requests
geojson
pyproj 
owslib
sqlalchemy 
psycopg2
geoalchemy2
jupyter-cache
shapely
mapclassify
folium
tqdm
contextily
plotly.express
plotnine
Numba
branca
leafmap
jenkspy
openpyxl
streamlit
streamlit-folium